#head {
	width:100%;
	height:80px;
	background: url(files/header.png);
	
}
.logo{ 
	position: absolute;
	font-size: 30px;
	color:white;
	text-decoration: none;
}

#logo_top{
	left:60px;
	top:30px;
	width: 249px;
	height: 80px;
}
#sub
{
	display: block;
	margin-top: 59px;
	margin-left: 10px;
	background:#a11f1fc2;	
}
.text{
	border-radius: 50% 50% 50% 50% / 5% 5% 5% 5% ;
  	box-shadow: -5px -5px rgba(0,0,0,.25);
	  background:#A48983;
	  color:white;
	  text-align: center;
	  padding: 5px;
	  width: 15%;
}
#logo_bottom{
	font-size: 30px;
	left: 110px;
	width: 209px;

}
#back{
	position:absolute;
	top:450px;
	background: #a11f1fc2;
	text-align: center;
	text-decoration: none;
}
#add_new{
	left:310px;
	margin-top: 90px;
	margin-left: 350px;
}

.list{
	border-bottom: 2px solid rgba(255,255,255,0.2);
	 padding: 10px;
	 color:white;
}
.list a{
	color:white;
}
#login_head {
	float:right;
	margin-top:30px;
	margin-right:600px;
	color:white;
	font-size:large;
}
body {
	font: 100% / 1.5 "Open Sans", Helvetica, Arial, sans-serif;
	background: url(files/background_1.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin:0px;
	padding:0px;
}
#side_bar{
	float:left;
	display: flex;
	margin: 0px;
	height: 900px;
	width: 309px;
	background: url(files/side_bar.png);	 
}
.menu {
	margin:0px;
	padding:0px;
	margin-block-start: 0em;
	padding-top: 12em;
	padding-left: 10em;
	color: white;
	float:left;
}
#center{
	float:right;
	width: 77%;
}
.main_li {
	top:10em;
  width: 30em; 
  font-size:large;
  margin: 2em 2em 2em 2em;
  padding: 1em;
  position: relative;
  width: 25em;
  height: 1.5em;

  background: #614e4e5e;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  color: white;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;
}
.main_li:hover{
	border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  	box-shadow: 10px 10px rgba(0,0,0,.25);
  	background: #a11f1fc2;
}

#new_one {
	 box-shadow: 10px 10px rgba(0,0,0,.15);
	width: 8em;
	margin-top: 5em;
	position: absolute;
	top:4em;
	padding: 0.8em;
	background-color:#A48983;
	text-decoration: none;
}
#new_one:hover{

	border-radius: 50% 50% 50% 50% / 5% 5% 5% 5% ;
  	box-shadow: -5px -5px rgba(0,0,0,.25);
  	background: #a11f1fc2;
}



